@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Sans+Mono:ital,wght@0,400..700;1,400..700&display=swap');

*{
    margin: 0px;
}

/*
NAV
*/
.div-nav,.nav-bar{
    height: 8%;
    z-index: 1000;
}
.nav-bar{
    text-align: center;
    width: 100%;
    background-color: rgba(0, 0, 20);
    display: flex;
    position: fixed;
}
.nav-bar-botoes{
    border: none;
    transition-duration: 0.4s;
    background-color: rgba(0, 0, 20);
    cursor: pointer;
    height: 100%;
    color: white;
    padding-left: 1rem;
    padding-right: 1rem;
    font-family: Courier Prime, monospace;
    font-size: 120%;
}
.nav-bar-botoes:hover{
    background-color: white;
    color: black;
}


/*
DIVs
*/
.div-principal{
    background-size: auto;
    background-image: url(/img/fundo.jpg);
    height: 5000px;
}
.div-principal-titulos{
    text-align: center;
}
.div-principal-h1{
    padding-top: 7rem;
    font-family: Ubuntu Sans Mono, monospace;
    font-size: 300%;
    color: white;
}
.div-principal-h2{
    padding-top: 2rem;
    padding-bottom: 7rem;
    font-family: Courier Prime, monospace;
    color: white;
}
.div-carousel-flex{
    display: flex;
    overflow: hidden;
}
.div-flex-img-txt{
    display: flex;
    justify-content: center;
    max-width: 100%;
    min-width: 100%;
    transition: transform 0.7s ease-in-out;
}
.div-imagem-textos{
    width: 70%;
    display: flex;
    align-items: center;
    text-align: center;
}
.div-imagem-p{
    color: white;
    font-family: Courier Prime, monospace;
    font-size: 130%;
    padding-left: 2rem;
    padding-right: 2rem;
    font-style: italic;
}
.div-buttons-carousel{
    padding-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}


/*
BUTTONs
*/
.carousel-button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 0.8cm;
}
.carousel-button-img{
    width: 100%;
}


/*
IMGs
*/
.nav-bar-img{
    height: 100%;
}
.img-imagem{
    height: auto;
    width: 30%;
    float: right;
    border-radius: 1rem;
}