@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Sans+Mono:ital,wght@0,400..700;1,400..700&display=swap');

*{
    margin: 0px;
}
.div-nav,.nav-bar{
    height: 8%;
}
.nav-bar{
    text-align: center;
    width: 100%;
    background-color: rgba(0, 0, 20);
    display: flex;
    position: fixed;
}
.nav-bar-img{
    height: 100%;;
}
.nav-bar-botoes{
    border: none;
    transition-duration: 0.4s;
    background-color: rgba(0, 0, 20);
    cursor: pointer;
    height: 100%;
    color: white;
    padding-left: 1rem;
    padding-right: 1rem;
    font-family: Courier Prime, monospace;
    font-size: 120%;
}
.nav-bar-botoes:hover{
    background-color: white;
    color: black;
}
.div-principal{
    background-size: auto;
    background-image: url(/img/fundo.jpg);
    height: 10000px;
}
.div-principal-h1{
    padding-top: 7rem;
    padding-left: 5rem;
    font-family: Ubuntu Sans Mono, monospace;
    font-size: 300%;
    color: white;
}
.div-principal-h2{
    padding-top: 2rem;
    padding-left: 7rem;
    padding-bottom: 7rem;
    font-family: Courier Prime, monospace;
    color: white;
}
.div-flex-img-txt{
    display: flex;
    justify-content: center;
    align-items: center;
}
.div-imagem-textos{
    width: 80%;
    display: flex;
    align-items: center;
    text-align: center;
}
.div-imagem1-p{
    color: white;
    font-family: Courier Prime, monospace;
    font-size: 130%;
    flex: 1;
}
.img-imagem1{
    height: auto;
    width: 30%;
    float: right;
    border-radius: 1rem;
}